{
  "parser": "babel-eslint",
  "extends": "@folio/eslint-config-stripes",
  "overrides": [
    {
      "files": ["lib/**/tests/*"],
      "rules": {
        "no-unused-expressions": "off",
        "func-names": "off"
      }
    }
  ],
}
