{
  "extends": "@folio/eslint-config-stripes",
  "parser": "@babel/eslint-parser",
  "rules": {
    "react/jsx-curly-newline": "off",
    "react/jsx-sort-props": "error",
    "react/state-in-constructor": "off",
    "testing-library/await-async-query": "error",
    "testing-library/no-await-sync-query": "error",
    "testing-library/no-debugging-utils": "warn",
    "jest-dom/prefer-checked": "error",
    "jest-dom/prefer-enabled-disabled": "error",
    "jest-dom/prefer-required": "error",
    "jest-dom/prefer-to-have-attribute": "error"
  },
  "env": {
    "jest/globals": true
  },
  "plugins": ["babel", "jest", "testing-library", "jest-dom"],
  "overrides": [
    {
      "files": ["lib/**/tests/*", "tests/**"],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "import/prefer-default-export": "off",
        "func-names": "off",
        "max-classes-per-file": "off",
        "no-unused-expressions": "off"
      }
    }
  ]
}
